@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-[#050505] text-neutral-200 leading-relaxed;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes zoom-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes zoom-out {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  
  .animate-in {
    animation-fill-mode: both;
  }
  
  .animate-out {
    animation-fill-mode: both;
  }
  
  .fade-in-0 {
    animation-name: fade-in;
  }
  
  .fade-out-0 {
    animation-name: fade-out;
  }
  
  .zoom-in-95 {
    animation-name: zoom-in;
  }
  
  .zoom-out-95 {
    animation-name: zoom-out;
  }
  
  .duration-150 {
    animation-duration: 150ms;
  }
}
