@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 250 250;
    --foreground: 23 23 23;
    --accent: 107 124 255;
    --muted: 115 115 115;
    --border: 229 229 229;
  }

  .dark {
    --background: 5 5 5;
    --foreground: 229 229 229;
    --accent: 107 124 255;
    --muted: 163 163 163;
    --border: 39 39 42;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground leading-relaxed;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  .theme {
    --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme inline {
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
    }
  50%, 100% {
    opacity: 0;
    }
  }
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}